header
    - let clientToFreelancerMessage;
    div.top-container
        h1.web-title: a(href='/') KingsHire
        div.top-navbar(style='color:#213e53;')
            if (!isLogged)
                a(href='/users/join'): button(class='nav-btn', id='joinNow') Join For Free
                a(href='/users/login'): button(class='nav-btn') Login
            else
                if(loggedInUser.user_stature.current === 'client')

                    if(loggedInUser.user_stature.initial === 'client')
                        - clientToFreelancerMessage = 'Become a Freelancer'
                    if(loggedInUser.user_stature.initial === 'freelancer')
                        - clientToFreelancerMessage = 'Switch to Freelancer'

                    a(href='/account/switch/freelancer/' + emailEncode(loggedInUser.email))
                        button(class='nav-btn', id='be-freelancer') #{clientToFreelancerMessage}

                    a(href='/account/client/'+emailEncode(loggedInUser.email)): button(class='nav-btn') My Account, #{loggedInUser.name} #{loggedInUser.surname}

                else if(loggedInUser.user_stature.current === 'freelancer')
                    a(href='/account/switch/client/' + emailEncode(loggedInUser.email))
                        button(class='nav-btn', id='be-client') Switch To Client
                    a(href='/account/freelancer/' + emailEncode(loggedInUser.email)): button(class='nav-btn') My Account, #{loggedInUser.name} #{loggedInUser.surname}

                a(href='/'): button(class='nav-btn') Home
                a(href='/users/logout'): button(class='nav-btn') Logout

                - let loggedinUser_Mssg = {type: loggedInUser.user_stature.current, uniqueKey: emailEncode(loggedInUser.email)}
                input(style='display: none;' id='sender-unique-key' value=JSON.stringify(loggedinUser_Mssg))

    div.top-mobilenavcontainer
        .mobileweb-title
            a(href='/') KingsHire
        div.mobiletop-navbar
            if (!isLogged)
                .mobileheaderLinks
                    a(href='/users/join') Join For Free
                    a(href='/users/login') Login
            else
                if(loggedInUser.user_stature.current === 'client')
                    .mobileheaderLinks
                        a(href='/account/client/' + emailEncode(loggedInUser.email)) My Account, #{loggedInUser.name} #{loggedInUser.surname}
                        a(href='/') Home
                        a(href='/users/logout') Logout
                        a(href='/account/switch/freelancer/' + emailEncode(loggedInUser.email))

                            button(class='nav-btn', id='be-freelancer') #{clientToFreelancerMessage}

                else if(loggedInUser.user_stature.current === 'freelancer')
                    .mobileheaderLinks
                        a(href='/account/freelancer/' + emailEncode(loggedInUser.email)) My Account, #{loggedInUser.name} #{loggedInUser.surname}
                        a(href='/') Home
                        a(href='/users/logout') Logout
                        a(href='/account/switch/client/' + emailEncode(loggedInUser.email))
                            button(class='nav-btn', id='be-client') Switch To Client
            a.headerburger-icon(href='javascript:void(0)')
                i.fa.fa-bars