h1 Portfolio
    - console.log(loggedInUser.portfolio)
    div.image-portfolio(style='border: .1rem dashed black; display: flex; justify-content: center; ' +
    'align-items: center; height: 10vh')
        if (isLogged && (emailEncode(freelancerUser.email) === emailEncode(loggedInUser.email)))
            form.add-to-portfolio-form(action='/cloudapi/upload' method='post' enctype="multipart/form-data")
                input(type='file' name='portfolio_image' accept="image/*" onchange="readURL(input)")
                input(type='text' name='image_info' placeholder="Image Description")
                input(type='submit' value='Upload Image')
        if loggedInUser.portfolio.length === 0
            p(style='font-weight: bold') Portfolio Empty

    div.image-portfolio(style='border: .1rem; display: flex; justify-content: right; ' +
    'align-items: center; height: 5vh')
        if (isLogged && (emailEncode(freelancerUser.email) === emailEncode(loggedInUser.email)) && loggedInUser.portfolio.length != 0)
            form(action='/cloudapi/delete' method='post' enctype="multipart/form-data")
                input(type='submit' value='Delete Current Image')
                input.delete-current-image(style='opacity: 1' name='current_src' type='text' hidden)

    if (isLogged && (emailEncode(freelancerUser.email) === emailEncode(loggedInUser.email)) && loggedInUser.portfolio.length != 0)
        // Slideshow container
        .slideshow-container.fade
            // Full images with numbers and message Info
            - var num = loggedInUser.portfolio.length;
            each val, index in loggedInUser.portfolio
                .Containers
                    .MessageInfo #{index + 1} / #{num}
                    img(src=val["pictureURL"])
                    .Info #{val['description']}
            // Back and forward buttons
            a.Back &#x276E;
            a.forward &#x276F;
        br
        // The circles/dots
        div(style='text-align:center')
            each val in loggedInUser.portfolio
                span.dots

        br
        div.image-portfolio
            each val, index in loggedInUser.portfolio
                div.image-portfolio-item
                    .portfolio-tag-overlay
                        p #{val['description']}
                    img(src=val["pictureURL"])
