extends layout

block content
    div.about-us-container
        .about-us-section-1
            section.about-us-contents
                .about-us-section-1-right
                    h1 About Us
                    section
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    section
                        a.about-us-logo(href='/'): img.kingsHireImage(src='/images/kingsHireImage-removebg-preview.png')
                .about-us-section-1-left
                    h1 Where
                    section
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            a.about-us-join-us(href='/users/join/freelancer') Join Us
        .about-us-section-2
            .about-us-section-2-top
                h1 Our team
                section
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
            .about-us-section-2-bottom
                - let teamMemberDetails = [{name: 'Excellence Igwele', title: 'Team Leader', photo: '/images/eF1.jpg'}, {name: 'Bernoulli Mukuna', title: 'Software Developer', photo: '/images/eF2.jpg'}, {name: 'Mpho Mosepele', title: 'UX/UI Designer', photo: '/images/eF3.jpg'}, {name: 'Ayomide Bamidele', title: 'Software Developer', photo: '/images/eF4.jpg'}, {name: 'Leidiana Silva', title: 'UX/UI Designer', photo: '/images/eF5.jpg'}, {name: 'Chisom Agbanelo', title: 'Software Developer', photo: '/images/eF6.jpg'}]
                each teamMember in teamMemberDetails
                    div
                        img(src=teamMember.photo)
                        section
                            ul
                                li #{teamMember.title}
                                li #{teamMember.name}

        .about-us-section-3
            section
                h1 Testimonials
            div.all-testimonials
                - let allTestimonials = [{name: 'Courtney Henry', comment: 'Team Leader', stars: 4, photo: '/images/eF6.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 5, photo: '/images/eF7.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 4, photo: '/images/eF6.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 5, photo: '/images/eF7.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 5, photo: '/images/eF6.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 4, photo: '/images/eF7.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 4, photo: '/images/eF6.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 5, photo: '/images/eF7.jpg'}]
                each testimonial in allTestimonials
                    .single-testimonial
                        section
                            img(src=testimonial.photo)
                        section
                            ul
                                li #{testimonial.name}
                                li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                li #{'*'.repeat(testimonial.stars)}

    include ./partials/footer