extends layout

block content
    div.about-us-container
        .about-us-section-1
            section.about-us-contents
                .about-us-section-1-right
                    h1 About Us
                    section
                        p Born out of the mandate of Our Man of God to foster innovations and development strategies among young people,
                            |KingsHire is looking to dominate the freelance market and excel in it.
                        p We envision a level playing field for creators/freelancers all around the world marked by equal opportunities
                            | for being hired regardless of location. We aim to assume a type of affirmative action towards countries
                            | that have statistically had fewer buyers because of several factors including development and reputation
                            | such as Africa, South America, and others.  We also want to cultivate a ministry circular economy in terms
                            | of the localisation of ministry resources to reduce external outsourcing of services where they could be
                            | found in the ministry.
                        p All this will foster an entrepreneurial mindset in the Loveworld nation. Freelancing offers users to take control
                            | of their income and showcase their skills. This will greatly help us in achieving the 7 Billion Mandate.
                        p We are all for the gospel and all for 7 Billion souls.
                    section
                        a.about-us-logo(href='/'): img.kingsHireImage(src='/images/kingsHireImage-removebg-preview.png')
                .about-us-section-1-left
                    h1 Values
                    section
                        h2 Excellence
                        p Every kinglancer on our site upholds excellence as a virtue. Our work must be outstanding and to a high standard. Exceptionalism is a must and we always exceed expectations.
                    section
                        h2 Constant Upskilling
                        p We encourage our kinglancers to always be in the pursuit to be better skilled, have more abilities and skillsets so that they can be competent in their line of freelancing, and be able to provide high-level services at no loss.
                    section
                        h2 Support
                        p KingsHire commits itself to always treating our customers, both freelancers, and clients; in a respectful, supportive, and personal manner that is always timely and effective. We are dedicated to making our platform the best site to interact with and get real value for any money, time and energy spent.
            a.about-us-join-us(href='/users/join/freelancer') Join Us
        .about-us-section-2
            .about-us-section-2-top
                h1 Our team
                section
                    p Our team is made up of 6 members. First, our team leader is our Esteemed Brother Excellence. Then we have our 3 amazing, hardworking software developers;  Brother Bernoulli,  Brother Ayomide, and Sister Chisom, and 2 UI/UX Designers with a flair Sister Mpho and Sister Leidiana
            .about-us-section-2-bottom
                - let teamMemberDetails = [{name: 'Excellence Igwele', title: 'Team Leader', photo: 'https://storage.cloud.google.com/kingshireimages/Team/excellenceI.jpeg'}, {name: 'Bernoulli Mukuna', title: 'Software Developer', photo: 'https://storage.cloud.google.com/kingshireimages/Team/benM.jpeg'}, {name: 'Mpho Mosepele', title: 'UX/UI Designer', photo: 'https://storage.cloud.google.com/kingshireimages/Team/mphoM.jpeg'}, {name: 'Ayomide Bamidele', title: 'Software Developer', photo: 'https://storage.cloud.google.com/kingshireimages/Team/ayomideB.jpeg'}, {name: 'Leidiana Silva', title: 'UX/UI Designer', photo: 'https://storage.cloud.google.com/kingshireimages/Team/leidianaS.jpeg'}, {name: 'Chisom Agbanelo', title: 'Software Developer', photo: 'https://storage.cloud.google.com/kingshireimages/Team/chisomA.jpeg'}]
                each teamMember in teamMemberDetails
                    div
                        img(src=teamMember.photo)
                        section
                            ul
                                li #{teamMember.title}
                                li #{teamMember.name}

        .about-us-section-3
            section
                h1 Testimonials
            - let allTestimonials = [{name: 'Courtney Henry', comment: 'Team Leader', stars: 4, photo: '/images/eF6.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 5, photo: '/images/eF7.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 4, photo: '/images/eF6.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 5, photo: '/images/eF7.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 5, photo: '/images/eF6.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 4, photo: '/images/eF7.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 4, photo: '/images/eF6.jpg'}, {name: 'Courtney Henry', comment: 'Team Leader', stars: 5, photo: '/images/eF7.jpg'}]
            - allTestimonials = [];

            if allTestimonials.length === 0
                section.emptyTestimonial
                    h2 No Review yet
            else
                div.all-testimonials
                    each testimonial in allTestimonials
                        .single-testimonial
                            section
                                img(src=testimonial.photo)
                            section
                                ul
                                    li #{testimonial.name}
                                    li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                    li #{'*'.repeat(testimonial.stars)}

    include ./partials/footer