extends layout

block content
   div.join-container
       div.join-right-container
           div.join-form-main
               h1 Create a #{userType[0].toUpperCase() + userType.slice(1).toLowerCase()} Account
                   //
                       if userType === 'freelancer'
                           h1 Create a #{userType[0].toUpperCase() + userType.slice(1).toLowerCase()} Account
                       else
                           h1 Create a Account
               include partials/form_message
               div.join-form-container

                   div.join-form-left
                       a(href='/users/google-authentication', role='button')
                           i.fa-brands.fa-google
                           p Continue with Google

                   p.signUp-Separator Or

                   form(action='/users/join/'+userType, method='post', class='join-form-right')
                       div(data-role='fieldcontain')
                           label(for='name') Name: #[br]
                           input(id='name', type='text', placeholder='Enter Name', name='name',
                               value=typeof (name) != 'undefined' ? name : '', required)

                       div(data-role='fieldcontain')
                            label(for='surname') Surname: #[br]
                            input(id='surname', type='text', placeholder='Enter Surname', name='surname',
                                value=typeof(surname) != 'undefined' ? surname : '', required)

                       div(data-role='fieldcontain')
                           label(for='email') Email Address: #[br]
                           input(id='email', type='email', placeholder='Enter Email', name='email',
                               value=typeof(email) != 'undefined' ? email : '', required)

                       div#passworddiv(data-role='fieldcontain')
                           label(for='password') Password: #[br]
                           input(id='password', type='password', placeholder='Enter Password', name='password',
                               value='', required)

                       div(id='hiddendiv', data-role='fieldcontain')
                           label(for='hidden_password') Confirm Password: #[br]
                           input(id='hidden_password', type='password', placeholder='Confirm Password',
                               name='password2', value='', required)

                       div(data-role='fieldcontain')
                           //
                           button.web-submission(type='submit' data-transition='fade',
                               data-theme='c', id='submit-button') Sign Up As #{userType[0].toUpperCase() + userType.slice(1).toLowerCase()}
                           if userType === 'client'
                               button.mobile-submission(type='submit', data-transition='fade',
                                   data-theme='c', id='submit-button') Sign Up as Client
                           else if userType === 'freelancer'
                               button.mobile-submission(type='submit', data-transition='fade',
                                   data-theme='c', id='submit-button') Sign Up as Freelancer
                       p.signup-page-login-option Already have an account?#{' '}
                           a#joinFL-login(href='/users/login') Login

                   p.mobile-signup-oroperator or
                   .mobilefreelancerAndclientBottom
                       if userType === 'client'
                           .mobile-client-bottom
                               a(href='/users/join/freelancer') Join as Freelancer
                       else if userType === 'freelancer'
                           .mobile-client-bottom
                               a(href='/users/join/client') Join as Client
               //
                   div.join-page-bottom
                       if userType === 'client'
                           a#switchToFreelancer(href='/users/join/freelancer') JOIN AS FREELANCER
                       else if userType === 'freelancer'
                           a#joinAsClient(href='/users/join/client') JOIN AS CLIENT
