if (isLogged && (emailEncode(freelancerUser.email) === emailEncode(loggedInUser.email)) && (freelancerSubscriptionStatus === 'trial' && trailDays <= 7 || freelancerSubscriptionStatus === 'not-available'))
    div.subscription-payment(style='display: none')
        .subscription-payment-container
        div.subscription-payment-content
            div.subscription-payment-information
                if freelancerSubscriptionStatus === 'trial' && trailDays <= 7
                    .trial-ending-message
                        .trial-ending-title
                            h3 Trial Ending in #{' '}
                                span #{trailDays}
                                | #{' '}  days
                        .trial-ending-infos
                            p Thank you for using #{' '}
                                span KingsHire
                                | .#{' '} We are delighted to have you as one of our freelancers.
                                | Your subscription will end soon. Subscribe to remain
                                | available for bookings after your trial period.

                else if (freelancerSubscriptionStatus === 'not-available')
                    .trial-ended-message
                        .trial-ending-title
                            h3 Trial Ended / Not Subscribed
                        .trial-ending-infos
                            p Thank you for using #{' '}
                                span KingsHire
                                | .#{' '} We are delighted to have you as one of our freelancers.
                                | Your trial period has ended and you are not subscrbed. Your
                                | account will not be visible for bookings until you subscribe.

                .trail-ending-options

                    - let domainName = 'https://kingshire.herokuapp.com'; //'http://localhost:3000'
                    form(action=`${domainName}/create-checkout-session/subscription` method='POST')
                        input#trial_days(type='hidden' name='trial_days' value=trailDays)
                        button.suscription-bttn(class='checkout-and-portal-button') Subscribe £1/Month

                    button(class='cancel-subscription-popup') Reject